/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 330px 0px 45px 0px;
}
img {
    width: 100%;
}
.wrapper {
    margin: auto;
}

/* Buttons */
.btn {
    border-radius: 20px;
}
.btn_black {
    color: #fff;
    background-color: #363636;
}
.btn_red {
    color: #fff;
    background-color: #cd3d0f;
}
.btn_blue {
    color: #fff;
    background-color: #2d64e6;
    font-size: 12px;
}
.btn_gray {
    color: #6a8de3;
    background-color: #d9dadc;
    font-size: 12px;
}
.btn_white {
    color: #000;
    background-color: #f5f5f5;
    font-size: 12px;
}


/* Typo */
h2, p {
    color: #fff;
}
p {
    font-size: 12px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
h2 {
    font-size: 30px;
    padding-bottom: 45px;
    margin-bottom: 0px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header_top {
    height: 30px;
    line-height: 30px;
    background-color: #000;
}
.header_top img {
    width: 70px;
}
.navbar-brand img {
    width: 45px;
}
.header_bottom .nav-item .nav-link {
    color: #000;
}
.lens_nav {
    width: 20px;
    margin-left: 20px;
}
.header_bottom .btn {
    margin-left: 20px;
}

/* Main */
/* Hero */
.hero {
    margin-top: 101px;
    background-image: url(../img/jumbo-bg.png);
}
.hero img {
    width: 60%;
    margin-bottom: 50px;
}
.hero_bottom img {
    border-radius: 15px;
    margin-top: 35px;
}

/* PS5 */
.ps5 {
    padding-top: 120px;
}
.ps5 h2 {
    color: #1f1f1f;
}
.ps5 p {
    color: #bbbbbb;
    font-size: 16px;
}
.ps5 span {
    color: #167ed2;
    font-size: 12px;
    margin-bottom: 10px;
}
.ps5_thumb {
    border-bottom: 1px solid #4095da;
}
.ps5 .col-4:not(.ps5_thumb) {
    opacity: 0.8;
}

/* It takes two */
.it2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* New releases */
.new_releases {
    background-color: #1f1f1f;
    padding: 35px 0px;
    color: #fff;
}
.new_releases h2 {
    padding-bottom: 30px;
}
.new_releases p {
    font-size: 18px;
}
.new_releases span {
    display: inline-block;
    font-size: 12px;
    margin: 10px 0px 50px 0px;
}
.new_releases img {
    border-radius: 15px;
}

/* Esplora PS4 */
.ps4 {
    padding: 80px 0px;
}
.ps4 h2 {
    color: #1f1f1f;
    padding-bottom: 25px;
}
.ps4 p {
    color: #bbbbbb;
    font-size: 16px;
}
.ps4 img {
    margin-top: 70px;
}

/* Playstation plus */
.psPlus {
    background-color: #bebcbb;
}
.psPlus .col-12 img {
    width: 60%;
    margin-bottom: 35px;
}
.psPlus p {
    color: #1f1f1f;
}

/* Discounts */
.discounts {
    padding: 75px 0px;
}
.discounts h2 {
    color: #1f1f1f;
    padding-bottom: 25px;
}
.discounts p {
    color: #bbbbbb;
    font-size: 16px;
}
.discounts img {
    margin-top: 40px;
}

/* Playstation plus */
.psNow {
    background-color: #161c3b;
}
.psNow .col-12 img {
    width: 60%;
    margin-bottom: 35px;
}

/* Social */
.social {
    padding: 70px 0px;
}
.social h2 {
    color: #1f1f1f;
}
.social a {
    display: inline-block;
    margin-bottom: 40px;
}

/* Hover */
.header_bottom .btn:hover {
    color: #fff;
}
.ps5 .col-4:not(.ps5_thumb):hover {
    opacity: 1;
}

/* Media query */
@media screen and  (max-width: 768px) {
    .psPlus .btn {
        margin-bottom: 35px;
    }
    .psPlus .col-12 img {
        margin-top: 35px;
    }
    .psNow .btn {
        margin-bottom: 35px;
    }
    .psNow .col-12 img {
        margin-top: 35px;
    }
}
@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 550px;
    }
}