/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */
.btn {
    border-radius: 20px;
}
.btn_black {
    color: #fff;
    background-color: #363636;
}
.btn_red {
    color: #fff;
    background-color: #cd3d0f;
}

/* Typo */
h2, p {
    color: #fff;
}
p {
    font-size: 12px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
h2 {
    font-size: 30px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header_top {
    height: 30px;
    line-height: 30px;
    background-color: #000;
}
.header_top img {
    width: 70px;
}
.navbar-brand img {
    width: 45px;
}
.header_bottom .nav-item .nav-link {
    color: #000;
}
.lens_nav {
    width: 20px;
    margin-left: 20px;
}
.header_bottom .btn {
    margin-left: 20px;
}

/* Main */
/* Hero */
.hero {
    margin-top: 101px;
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding: 330px 0px 45px 0px;
}
.hero img {
    width: 60%;
    margin-bottom: 50px;
}
.hero_bottom {
    margin-bottom: 35px;
}
.hero_bottom img {
    width: 100%;
    border-radius: 15px;
    margin-top: 35px;
}

/* Hover */
.header_bottom .btn:hover {
    color: #fff;
}