/* Buttons */
.btn {
    border-radius: 20px;
}
.btn_black {
    color: #fff;
    background-color: #363636;
}

/* Header */
.header_top {
    height: 30px;
    line-height: 30px;
    background-color: #000;
}
.header_top img {
    width: 70px;
}
.navbar-brand img {
    width: 45px;
}
.header_bottom .nav-item .nav-link {
    color: #000;
}
.lens_nav {
    width: 20px;
    margin-left: 20px;
}
.header_bottom .btn {
    margin-left: 20px;
}